@charset "utf-8";
body{
	background-color: #F3EDDD;
	
	}

h1{
	font-size: xx-large;
	text-align: center;
	margin-bottom: 20px;
	margin-left: -65px;

}


h2{
	font-size: xx-large;

}


h3{
	font-size: large;
}
#divCelek {
	background-color: #F2E1F4;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 15px 15px 3px 3px;
	text-shadow: 0px 0px #FFFFFF;
}
.zahlavi {
	width: 960px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 100px;
	text-transform: uppercase;
	color: #9900cc;


}
#podzahlavi{
	margin-top: 5px;
	text-align: center;
	border-color: #DDBB98 #DDBB98 #C8925A;
	background-color: #D6C7B4;
	height: 43px;
	border-bottom-style: solid;
	color: #735A6F;
	list-style-image: none;

}


#login{
	margin-top: -5px;
	width: 127px;
	height: 34px;
	float: right;
	margin-right: 20px;
	text-decoration: underline;
	text-align: right;
	list-style-image: none;
	
	}
a {
}
a:link {
	color: #C271B9;
}

a:hover, a:active, a:focus {
	color: #641C59;
	text-decoration: underline;
}

.hlavni {width: 960px;height: 500px;}
.hlavni .left_menu {width: 150px;height: 500px;float:left; }
.hlavni .left_menu .part  {
	width: 150px;
	height: 240px;
	list-style-type: none;
	text-shadow: 0px 0px 6px #000000;
}
.hlavni .left_menu ul {
	list-style-type: none;
	height: auto;
	margin-top: 10px;
}
.hlavni .left_menu ul li {
	padding-top: 4px;
	padding-bottom: 5px;
	margin-top: 7px;
	background-color: #6FB14A;
}

#zapati {
	height: 26px;
	clear: both;
	margin-top: 19px;
}



