* {
	margin: 0 auto;
	padding: 0px;
	border: 0px;
}

body{
	background-color: #F3EDDD;

}
a {
	text-decoration: none;
	color: #C271B9;
}

a:hover, a:active, a:focus {
	color: #641C59;
	text-decoration: underline;
}

body {
	text-align: center;
	background-color: white;
}
#divCelek {
	width: 960px;
	height: 800px;
}
#zahlavi {
	width: 960px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 60px;
	text-transform: uppercase;
	color: #9900cc;
}
.topmenu {

	height: 45px;
	background-color: #D6C7B4;
	border-color: #DDBB98 #DDBB98 #C8925A;
	font-size: 19px;
	padding-top: 5px;
	margin-top: 5px;
	border-bottom-style: solid;
	color: #735A6F;
}
.content {
	width:960px; 
	height: 500px; 
	margin-top:5px; 
	overflow-y:auto; 
	overflow:auto;}
#zapati {
	height: 26px;
	clear: both;
	margin-top: 19px;
}
